<form [formGroup]="subForm" (ngSubmit)="save()">
  <div class="form-group">
    <label>Pledge Amount</label>
    <input type="number" formControlName="pledgeAmount" class="form-control">
  </div>
  
  <div class="form-group">
    <label>Pledge Start Date</label>
    <input type="date" formControlName="pledgeStartDate" class="form-control">
  </div>

  <div class="form-group">
    <label>Last Deposit Amount</label>
    <input type="number" formControlName="lastPledgeDepositAmount" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>