<!-- person-form.component.html -->

<div class="container mt-5">
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <label>Title:</label>
    <input formControlName="title" type="text">
  
    <label>Last Name:</label>
    <input formControlName="lastName" type="text">
  
    <label>Middle Name:</label>
    <input formControlName="middleName" type="text">
  
    <label>First Name:</label>
    <input formControlName="firstName" type="text">
  
    <label>Father's Name:</label>
    <input formControlName="fatherName" type="text">

    <label>Father's Id:</label>
    <input formControlName="fatherId" type="text">
  
    <label>Mother's Name:</label>
    <input formControlName="motherName" type="text">

    <label>Mother's Id:</label>
    <input formControlName="motherId" type="text">

    <label>Spouse's Name:</label>
    <input formControlName="spouseName" type="text">

    <label>Spouse's Id:</label>
    <input formControlName="spouseId" type="text">

  
    <label>Gender:</label>
    <input formControlName="gender" type="text">
  
    <label>Date of Birth:</label>
    <input formControlName="dob" type="text">
  
    <label>Age:</label>
    <input formControlName="age" type="text">
  
    <label>Marital Status:</label>
    <input formControlName="maritalStatus" type="text">
  
    <label>Date of Marriage:</label>
    <input formControlName="dateOfMarriage" type="text">
  
    <label>Years of Marriage:</label>
    <input formControlName="yearsOfMarriage" type="text">
  
    <label>Address:</label>
    <input formControlName="address" type="text">
  
    <label>Contact:</label>
    <input formControlName="contact" type="text">
  
    <label>Email:</label>
    <input formControlName="Email" type="text">
  
    <label>Baptised:</label>
    <input formControlName="Baptised" type="text">
  
    <label>Baptised Date:</label>
    <input formControlName="baptisedDate" type="text">
  
    <label>Confirmed:</label>
    <input formControlName="Confirmed" type="text">
  
    <label>Confirmation Date:</label>
    <input formControlName="ConfirmationDate" type="text">
  
    <label>Full Member:</label>
    <input formControlName="fullMember" type="text">
  
    <label>Non Resident Member:</label>
    <input formControlName="NonResidentMember" type="text">
  
    <label>Preparatory Member:</label>
    <input formControlName="preparatoryMember" type="text">
  
    <label>Self Dependent:</label>
    <input formControlName="selfDependent" type="text">
  
    <label>Status:</label>
    <input formControlName="status" type="text">
  
    <label>Inactive Reason:</label>
    <input formControlName="inactiveReason" type="text">
  
    <label>Inactive Since:</label>
    <input formControlName="inactiveSince" type="text">
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  